<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изображения</title>
</head>


<body>
<h1>Список изображений</h1>

<p>
{% if picture_list %}
<ul>
  {% for picture in picture_list %}
    <li>
        <a href="{% url 'pictures:picture_detail'  picture.id %}">{{ picture.file_name }}</a>
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>Нет доступных изображений.</p>
{% endif %}
</p>

<p>
<a href="{% url 'pictures:picture_create' %}">Добавить изображение</a>
</p>
</body>
</html>

