<!DOCTYPE html>
<html lang="en">
<a href="{% url 'pictures:all' %}">Back to list of pictures</a>
<head>
    <meta charset="UTF-8">
    <title>Edit picture:</title>
</head>
<form action="" method="post" id="upload_form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <p><input type="submit" value="Submit"></p>
  </form>
<h1>{{ picture.picture_name }}</h1>
{% if picture %}
    {% if picture.picture %}
        <body>
            <img src="{{ picture.picture.url }}">
        </body>
    {% elif picture.parent_picture %}
        <body>
            <img src="{{ picture.parent_picture.url }}">
        </body>
    {% endif %}
{% endif %}



</html>